/*.select{
  border: gray solid 2px;
  width: auto;
}

.select-admin{
  margin-top: 70px;
  border-radius: 3rem;
  border: gray 1px;
  width: 40px;
}

.admin-link{
  justify-content: end;
  align-items: flex-end;
}
.admin{
  margin-top: 7rem;
}*/
/* --------------------------------

File#: _1_character-count
Title: Character Count
Descr: Show the number of remaining characters while typing
Usage: codyhouse.co/license

-------------------------------- */





.character-count__helper {
  text-align: right;
}

.character-count__helper--dynamic {
  display: none;
}

.js {
  .character-count__helper--static {
    display: none;
  }

  .character-count__helper--dynamic {
    display: block;
  }
}